/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "keys_fr.h"
#include "../zmk-nodefree-config/helper.h"

#define DEFAULT    0
#define MEDIA      1
#define SHORT      2
#define NAV        3

#define ___ &trans

#define DEF_MORPH(NAME, MODS, CODE, MOD_CODE) \ 
     ZMK_BEHAVIOR(NAME, mod_morph, \
               bindings = <&kp CODE>, <&kp MOD_CODE>; \
               mods = <(MODS)>; \
     )

#define DEF_LSHFT_MORPH(NAME, CODE, MOD_CODE) \ 
    DEF_MORPH(NAME, MOD_LSFT, CODE, MOD_CODE)

DEF_LSHFT_MORPH(dot_comma, FR_DOT, FR_COMMA)
DEF_LSHFT_MORPH(colon_semi, FR_COLON, FR_SEMI)
DEF_LSHFT_MORPH(qmark_excl, FR_QMARK, FR_EXCL)
DEF_LSHFT_MORPH(dash_under, FR_MINUS, FR_UNDER)

ZMK_LAYER(default,
// ╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮   ╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮
___     &kp FR_Q            &kp H             &kp O            &kp U              &kp X                 &kp G             &kp C           &kp FR_M            &kp R             &kp V       ___
// ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼──────.───,──────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
___    &mt LGUI Y        &mt LCTRL I       &mt LALT E      &mt LSHFT FR_A      &dot_comma               &kp D          &mt LSHFT S       &mt LALT T        &mt LCTRL N       &mt LGUI B     ___
// ├─────────────────┼──────?───!──────┼──────-───_──────┼─────────────────┼──────:───;──────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
___       &kp J          &qmark_excl       &dash_under          &kp K          &colon_semi            &kp FR_W            &kp F             &kp L             &kp P           &kp FR_Z      ___
// ╰─────────────────┴─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┴─────────────────╯
                                         &lt SHORT BSPC    &lt MEDIA SPACE       &kp DEL               &kp TAB        &lt NAV ENTER        &kp ESC
//                                     ╰─────────────────┴─────────────────┴─────────────────╯   ╰─────────────────┴─────────────────┴─────────────────╯
)

ZMK_LAYER(media,
// ╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮   ╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮
___   &kp C_BRI_UP       &kp C_PREV         &kp C_PP         &kp C_NEXT            ___                   ___           &kp FR_N7         &kp FR_N8          &kp FR_N9         &kp PLUS      ___
// ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
___   &kp C_BRI_DN      &kp C_VOL_DN       &kp C_MUTE       &kp C_VOL_UP           ___                   ___           &kp FR_N4         &kp FR_N5          &kp FR_N6       &kp FR_MINUS    ___
// ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
___   &out OUT_TOG      &bt BT_SEL 0      &bt BT_SEL 1      &bt BT_SEL 2       &bt BT_CLR                ___           &kp FR_N1         &kp FR_N2          &kp FR_N3        &kp FR_DOT     ___
// ╰─────────────────┴─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┴─────────────────╯
                                               ___               ___               ___                   ___               ___           &kp FR_N0
//                                     ╰─────────────────┴─────────────────┴─────────────────╯   ╰─────────────────┴─────────────────┴─────────────────╯
)

DEF_LSHFT_MORPH(lpar_lbrc, FR_LPAR, FR_LBRC)
DEF_LSHFT_MORPH(fslh_bslh, FR_FSLH, FR_BSLH)
DEF_LSHFT_MORPH(rpar_rbrc, FR_RPAR, FR_RBRC)
DEF_LSHFT_MORPH(pipe_prc, FR_PIPE, FR_PRCNT)

DEF_LSHFT_MORPH(grave_tilde, FR_GRAVE, FR_TILDE)
DEF_LSHFT_MORPH(lbkt_lt, FR_LBKT, FR_LT)
DEF_LSHFT_MORPH(sqt_dqt, FR_SQT, FR_DQT)
DEF_LSHFT_MORPH(rbkt_gt, FR_RBKT, FR_GT)
DEF_LSHFT_MORPH(caret_diae, FR_CARET, FR_DIAE)

DEF_LSHFT_MORPH(eacute_cced, FR_E_ACCENT, FR_CCED)
DEF_LSHFT_MORPH(star_hash, FR_STAR, FR_HASH)
DEF_LSHFT_MORPH(amps_at, FR_AMPS, FR_AT)
DEF_LSHFT_MORPH(dollar_euro, FR_DLLR, FR_UNDER)

  ZMK_LAYER(shortcut,
// ╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮   ╭──────-───-──────┬──────(───{──────┬──────/───\──────┬──────)───}──────┬──────|───%──────╮
___        ___               ___               ___               ___               ___                   ___            &lpar_lbrc       &fslh_bslh        &rpar_rbrc         &pipe_prc     ___
// ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├──────`───~──────┼──────[───<──────┼──────'───"──────┼──────]───>──────┼──────^───¨──────┤
___        ___               ___               ___               ___               ___               &grave_tilde       &lbkt_lt          &sqt_dqt          &rbkt_gt         &caret_diae    ___
// ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├──────é───ç──────┼──────*───#──────┼──────&───@──────┼──────=───-──────┼──────$───€──────┤
___        ___               ___               ___               ___               ___               &eacute_cced       &star_hash        &amps_at          &kp EQUAL        &dollar_euro   ___
// ╰─────────────────┴─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┴─────────────────╯
                                               ___               ___               ___                   ___               ___               ___
//                                     ╰─────────────────┴─────────────────┴─────────────────╯   ╰─────────────────┴─────────────────┴─────────────────╯
)

 
 ZMK_LAYER(navigation,
// ╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮   ╭─────────────────┬─────────────────┬─────────────────┬─────────────────┬─────────────────╮
___        ___               ___               ___               ___               ___                   ___            &kp HOME          &kp PG_DN         &kp PG_UP          &kp END      ___
// ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
___        ___               ___               ___               ___               ___                   ___            &kp LEFT          &kp DOWN           &kp UP           &kp RIGHT     ___
// ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┼─────────────────┤
___        ___               ___               ___               ___               ___                   ___             &kp H              &kp J            &kp K              &kp L       ___
// ╰─────────────────┴─────────────────┼─────────────────┼─────────────────┼─────────────────┤   ├─────────────────┼─────────────────┼─────────────────┼─────────────────┴─────────────────╯
                                               ___               ___               ___                   ___               ___               ___
//                                     ╰─────────────────┴─────────────────┴─────────────────╯   ╰─────────────────┴─────────────────┴─────────────────╯
)
