/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "keys_fr.h"
#include "../zmk-nodefree-config/helper.h"

#define DEFAULT    0
#define MEDIA      1 
#define SHORT      2
#define NAV        3

#define ___ &trans

ZMK_BEHAVIOR(th, hold_tap,
    flavor = "hold-prefered";
    tapping-term-ms = <130>;
    quick-tap-ms = <125>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
)

#define AS(keycode) &as LS(keycode) keycode
ZMK_BEHAVIOR(as, hold_tap,
    flavor = "tap-preferred";
    tapping-term-ms = <130>;
    quick-tap-ms = <0>;
    bindings = <&kp>, <&kp>;
    label = "AUTO_SHIFT";
)

ZMK_LAYER(default_layer,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &kp TAB      AS(FR_Q)       AS(FR_W)       AS(F)        AS(P)          AS(B)             AS(J)         AS(L)         AS(U)         AS(Y)         AS(FR_W)     &kp ESC
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
           &kp LSHFT     AS(Y)        AS(I)        AS(E)        AS(A)    &mt FR_DOT FR_GRAVE      AS(D)         AS(S)         AS(T)         AS(N)          AS(B)       &kp LGUI
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
           &kp LCTRL      AS(J)   &mt FR_SEMI FR_COLON &mt FR_COMMA FR_QMARK     AS(K) &mt FR_FSLH FR_TILDE AS(FR_W)   AS(F)         AS(L)         AS(P)          AS(V)       &kp LALT
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                      &kp DEL   &lt MEDIA BSPC &lt SHORT SPACE      &kp RET       &mo NAV       &kp F12
     //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)


 ZMK_LAYER(media_layer,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
              ___            ___       &kp K_PREV    &kp K_PP      &kp K_NEXT       ___               ___        &kp FR_N7     &kp FR_N8     &kp FR_N9    &kp FR_MINUS     ___
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              ___            ___      &kp K_VOL_UP   &kp K_MUTE  &kp K_VOL_DN       ___               ___        &kp FR_N4     &kp FR_N5     &kp FR_N6    &kp PLUS      ___
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              ___            ___          ___           ___           ___           ___               ___        &kp FR_N1     &kp FR_N2     &kp FR_N3    &kp FR_N0        ___
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                        ___           ___           ___               ___           ___           ___   
     //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

  ZMK_LAYER(shortcut_layer,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
              ___        &kp LA(F4)    &kp LS(F3)     &kp F3          &kp F2        ___         &kp FR_PERCENT &mt FR_LPAR FR_LT &mt EQUAL PLUS &mt FR_RPAR FR_GT &mt FR_BSLH FR_PIPE ___
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              ___       &kp LC(FR_A)   &kp LC(S)  &kp FR_E_ACCENT   &kp LC(F)       ___         &mt FR_DIAE FR_CARET &mt FR_LBKT FR_LBRC &mt FR_MINUS FR_UNDER &mt FR_RBKT FR_RBRC &kp FR_SQT FR_DQT ___
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              ___        &kp LC(Z)     &kp LC(X)     &kp LC(C)      &kp LC(V)       ___           &kp FR_CCED  &mt FR_HASH FR_EXCL &mt FR_STAR FR_AT &mt FR_AMPS FR_DLLR ___ ___
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                        ___           ___           ___               ___           ___           ___   
     //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

 
 ZMK_LAYER(navigation_layer,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
              ___            ___          ___           ___           ___           ___               ___         &kp HOME     &kp PG_DN     &kp PG_UP      &kp END         ___   
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              ___            ___          ___           ___           ___           ___               ___         &kp LEFT     &kp DOWN       &kp UP       &kp RIGHT        ___   
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
              ___            ___          ___           ___           ___           ___               ___           ___           ___           ___           ___           ___   
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                        ___           ___           ___               ___           ___           ___   
     //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)
